/*---------form search stylerules---------*/

.mdc-form-search-stylerules-info {
	display: none;
}
.mdc-form-search-stylerules-info.show {
	display: block;
}
.mdc-form-search-stylerules-input.invalid {
	border-color: #dc3545;
}
.mdc-stylerules-property {
	background-color: #ffc107;
}